
<div class="jumbotron">
  <h1>MultiWeather</h1>
  <p>Tired of checking weather of where you live, work AND a million other places? MultiWeather gives you all you care about, on one page.</p>
  <div style='vertical-align: middle; display: table-cell;'>
    <% if !logged_in? %>
      <p><a class="btn btn-primary btn-lg" href="/register" role="button">Try It!</a></p>
      <p>or <%= link_to 'Log In', '/login' %></p>
    <% else %>
      <p><a class="btn btn-primary btn-lg" href="/dashboard" role="button">Go To Dashboard</a></p>
    <% end %>
  </div>
</div>
<% @posts.each do |post| %>
<%= render 'post', post: post %>
<% end %>
<footnote>
  <div class='container' style='margin-top: 20px; margin-bottom: 20px;'>
    <p>Weather and geo-location data from <%= link_to 'OpenWeatherMap', 'http://openweathermap.org/' %>, <%= link_to 'Google Map', 'https://maps.google.com' %> and <%= link_to 'GeoNames', "http://openweathermap.org/" %>. Cool weather-themed fonts by <%= link_to 'Weather Icons', 'http://erikflowers.github.io/weather-icons/' %>. </p>
  </div>
</footnote>