<%= render 'shared/content_title', title: 'Places found...' %>
<% results = Nokogiri::XML(open("http://api.openweathermap.org/data/2.5/find?q=#{@results}&type=accurate&mode=xml&APIID=45070d99d2678d5c1efcd1e13e7301d2")).root.xpath('list//item') %>

<% results.each do |result| %>
  <% city_id = result.at_xpath('city')['id'] %>
  <div class="list-group">
    <div class="list-group-item row">
      <div style='float: left;'>
        <h4 class="list-group-item-heading"><%= name_lookup(city_id) %></h4>
        <p class="list-group-item-text"><%= result.at_xpath('weather')['value'] %></p>
      </div>
      <div style='float: right;' class='col-sm-3'>
        <% if current_user.locations.select {|loc| loc.city_id == city_id.to_i} == [] %>
        <%= form_for @location do |f| %>
        <%= f.label :nickname %>
        <%= f.text_field :nickname, placeholder: 'e.g. ' + Location::NICKNAME_EX.shuffle.first %>
        <%= f.hidden_field :name, value: result.at_xpath('city')['name'] %>
        <%= f.hidden_field :country, value: result.at_xpath('city//country').text %>
        <%= f.hidden_field :city_id, value: result.at_xpath('city')['id'] %>
          <%= f.submit 'Add', class: 'btn btn-success' %>
        <% end %>
        <% else %>
        <button type="button" disabled class='btn btn-warning'>Added</button>
      <% end %>
      </div>
    </div>
  </div>
<% end %>